<ion-header>
  <ion-toolbar>
    <ion-title>{{mode}} room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Avatar-->
  <ion-item>
  <ion-avatar id="avatar">
    <ion-img class="avatar" color="success" [src]="'./../../../assets/icon/anonymous-animals/'+user.avatar+'.png'"></ion-img>
  </ion-avatar>
  <ion-button (click)="changeAvatar()">
    <ion-icon slot="icon-only" name="shuffle-sharp"></ion-icon>
  </ion-button>
</ion-item>
  <!--User name-->
  <ion-item>
    <ion-label position="floating">Your name</ion-label>
    <ion-input [(ngModel)]="user.name" [disabled]="loading" (ionChange)="nameChanged()"></ion-input>
  </ion-item>

  <ion-button (click)="continue()" expand="full" [disabled]="!user.name || user.name.length <= 0 || loading">Continue</ion-button>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-content>