<ion-grid>
  <ion-row>
    <ion-col>
      <div class="w-score">
        <ion-text>6</ion-text>
      </div>
      <ion-label>user1</ion-label>
    </ion-col>
    <ion-col>
      <div class="wo-score">
        <ion-text></ion-text>
      </div>
      <ion-label>user2</ion-label>
    </ion-col>
    <ion-col>
      <div class="w-score">
        <ion-text>8</ion-text>
      </div>
      <ion-label>user3</ion-label>
    </ion-col>
    <ion-col>
      <div class="w-score">
        <ion-text>7</ion-text>
      </div>
      <ion-label>user4</ion-label>
    </ion-col>
    <ion-col>
      <div class="w-score">
        <ion-text>6</ion-text>
      </div>
      <ion-label>user5</ion-label>
    </ion-col>
    <ion-col>
      <div class="w-score">
        <ion-text>8</ion-text>
      </div>
      <ion-label>user6</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-label id="average">Average: 7</ion-label>
