.w-score{
    height: 50px;
    width: 50px;
    background-color: #3880ff;
    border-radius: 50%;

    display: inline-block;
}


.wo-score{
    height: 50px;
    width: 50px;
    background-color: #92949c;
    border-radius: 50%;

    display: inline-block;
}

ion-text{
    font-size: 20px;
    color: #ffffff;
    line-height: 50px;  
}

ion-col{
    padding: 5px;
}

ion-col ion-label{
    display: block;
}

#average{
    font-size: 18px;
    font-weight: 500;
}