<ion-header>
  <ion-toolbar>
    <app-users [users]="Users" [hostId]="HostId"></app-users>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content *ngIf="IsHost" (click)="newTarget()">
      <ion-label>Add target</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-reorder-group (ionItemReorder)="reorderTarget($event)" disabled="false">
    <ion-card *ngFor="let target of Targets; index as i" appLongPress [pressDisabled]="selectedTargetIndex == i"
      [class.selected]="selectedTargetIndex == i" [pressDuration]="3" (click)="targetSelected(i)"
      (onPressStart)="targetStartSelecting(i)">
      <ion-item>
        <ion-label>{{target.title}}</ion-label>
        <div class="target-options" *ngIf="selectedTargetIndex == i && IsHost">
          <!--Start Round-->
          <ion-button fill="clear" (click)="startRoundForSelectedTarget()">
            <ion-icon name="play-outline"></ion-icon>
          </ion-button>
          <!--Edit button-->
          <ion-button fill="clear" color="medium" (click)="editTarget()">
            <ion-icon name="brush-outline"></ion-icon>
          </ion-button>
          <!--Delete button-->
          <ion-button fill="clear" color="danger" (click)="deleteSelectedTarget()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <!--Reorder-->
          <ion-reorder slot="end"></ion-reorder>
        </div>
        <ion-badge color="secondary" slot="end" *ngIf="target.finalResult != null">{{target.finalResult}}</ion-badge>
      </ion-item>
      <ion-card-content>
        {{target.description}}
      </ion-card-content>
    </ion-card>
  </ion-reorder-group>
</ion-content>