#targets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.target-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.target-options > *:not(:last-child){
    padding-right: 0.5em;
}

.selected{
    border-color: var(--ion-color-primary);
    border-style: dashed;
    border-width: 2px;
}
