<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Last Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div class="home">
    <ion-button id="join" [routerLink]="['/join-options']" expand="full">JOIN ROOM</ion-button>
    <ion-button #create [routerLink]="['/create']" expand="full">CREATE ROOM</ion-button>
  </div>
</ion-content>