<ion-slides [options]="slidesOptions">
  <ion-slide>
    <ion-button (click)="currentScore(6)">6</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(7)">7</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(8)">8</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(9)">9</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(10)">10</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-item>
      <ion-button *ngIf="!manualMode && manualScoreText == null" fill="clear" (click)="clickManualScore()">
        <ion-icon name="keypad-outline"></ion-icon>
      </ion-button>
      <ion-input #manualInput *ngIf="manualMode || manualScoreText != null" debounce="1000" inputmode="decimal" min="0" type="number"
        (ionBlur)="manualInputBlur()" (ionChange)="manualInputChange($event.detail.value)" class="ion-text-center">
      </ion-input>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(1)">1</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(2)">2</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(3)">3</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(4)">4</ion-button>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="currentScore(5)">5</ion-button>
  </ion-slide>
</ion-slides>