<ion-header>
  <ion-toolbar>
    <ion-title>Join Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Join with link</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Link</ion-label>
        <ion-input [(ngModel)]="link"></ion-input>
        <ion-button (click)="joinWithLink(link)" [disabled]="!link">Join</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Join with QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="joinWithQR()">Open Camera</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
</ion-content>