<ion-header>
  <ion-toolbar>
    <ion-title>{{mode}} target</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <!-- Enter new target -->
      <ion-card-title>
        <ion-item>
          <ion-label position="floating">Target</ion-label>
          <ion-input [(ngModel)]="target.title"></ion-input>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- Enter description for the new target -->
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="target.description"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="center">
    <ion-button color="medium" (click)="goBack()">CANCEL</ion-button>
    <ion-button (click)="confirm()">OK</ion-button>
  </div>


</ion-content>
