.avatar-container:hover .user-name {
    visibility: visible;
}

.user-name {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);

    text-align: center;
    background-color: white;
    color:black;

    visibility: hidden;
}

@media (prefers-color-scheme: dark) {
    .user-name{
        background-color: black;
        color:white;
    }
}
