<ion-slides *ngIf="users != null" [options]="slideOptions">
  <ion-slide *ngFor="let user of users" class="avatar-container">
    <ion-avatar>
      <ion-img class="avatar" color="success" [src]="'./../../../assets/icon/anonymous-animals/'+user.avatar+'.png'"></ion-img>
    </ion-avatar>
    <ion-icon name="ribbon-outline" *ngIf="user.id == hostId"></ion-icon>
    <span class="user-name">{{user.name}}</span>
  </ion-slide>
</ion-slides>