<ion-header>
  <ion-toolbar>
    <app-users [users]="Users" [hostId]="HostId"></app-users>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="options">
    <ion-button color="unrecommended" *ngIf="IsHost" (click)="wantsToCancel()" > 
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="IsHost" (click)="confirmRound()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{target.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{target.description}}
      <ion-input></ion-input>
    </ion-card-content>
  </ion-card>
  <!--Scoring-->
  <app-scoring></app-scoring>
</ion-content>