.center{
    text-align: center;
}

.center-card{
    text-align: center;
    width: 80%;
    max-height: 65%;
    margin: auto;
    margin-top: 10%;
}

.center-buttons{
    text-align: center;
}

.result-area{
    display: inline-block;
    text-align: center;
}

#show{
    display: block;
    color: #222428;
    font-size: 15px;
}

.buttons-grid{
    position: fixed;
    bottom: 0%;
    width: 100%;
    max-height: 30%;
}