<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">

  </ion-header>


  <ion-card class="center-card">
    <ion-card-header>
      <ion-card-title>Target scored!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="result-area">

        <ion-button fill="clear" size="large" (click)="showResult()" *ngIf="IsHost && Result == null">
          <div>
            <ion-icon size="large" [name]="'eye'" color="medium"></ion-icon>
          </div>

        </ion-button>
        <ion-label id="show" *ngIf="Result == null">Show result</ion-label>

        <div *ngIf="Result != null">

          <ion-label id="average">Average: {{Result}}</ion-label>

        </div>
      </div>


    </ion-card-content>
  </ion-card>
  <ion-grid *ngIf="IsHost" class="buttons-grid">
    <ion-button (click)="finish()" expand="full">Finish Round</ion-button>
  </ion-grid>
</ion-content>